#quienes-somos p{
	font-size: 16px;
}

#vision p{
	font-size: 16px;
}

#mision p{
	font-size: 16px;
}

#valores{
	font-size: 16px;
}

#politicas{
	font-size: 16px;
}

.titulo-servicio{
	margin: 85px 0 50px;
    text-align: left;
}

.titulo-producto{
	margin: 85px 0 50px;
    text-align: left;
}